/*--------- adjustment ----------*/

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font: 400 16px Arial, sans-serif;
    background-color: #fff;
}

.container {
    max-width: calc(750px + 15px*2);
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}


/* --------------- index page start  ----------------- */


/* --------------- header ----------------- */

.header {
    background: url(../img/header_index_wht.jpg) no-repeat center;
    background-size: cover;
}
	.gradient_bg_index {
		min-height: 100px;
	}
	@media (min-width: 768px) {	.gradient_bg_index {
			min-height: 337px;
		}
	}
	.gradient_bg {
		background: linear-gradient(90deg, rgba(255, 216, 117, .8) 0%, rgba(255, 216, 117, .05) 40%, rgba(255, 216, 117, .05) 60%, rgba(255, 216, 117, .8) 100%);
	}


/* --------------- logo ----------------- */

.logo {
    background: url(../img/logo_big.PNG) no-repeat center;
    background-size: contain;
    background-position: 15% center;
    height: 175px;
    max-width: 430px;
    margin: 0 auto;
}

.logo_index {
    margin: 18px auto;
}

	.logo h1 {
		text-indent: -10000px;
		margin: 0;
		padding: 0;
	}


/* --------------- main ----------------- */

.main_index {
    text-align: center;
    padding: 47px 0 34px;
}
	.col_5 {
		float: left;
		width: 19.6%;
		margin-right: .5%;
	}
	.col_5:last-child {
		margin-right: 0;
	}
		.thumbs img {
			position: relative;
			width: 100%;
			transform: scale(1);
			transition: all .1s ease-in-out;
			z-index: 1;
		}
		.thumbs img:hover {
			transform: scale(1.1);
			z-index: 5;
		}
	.nav {
		padding: 20px 0 10px;
	}
		.nav li {
			position: relative;
			display: inline-block;
			padding-left: 8px;
		}
		.nav li:before {
			display: block;
			position: absolute;
			content: '';
			height: 4px;
			width: 4px;
			top: 13px;
			left: 0;
			background-color: #B72126;
			border-radius: 50%;
		}
		.nav li:first-child:before {
			display: none;
		}
			.nav li a {
				color: #55475E;
				font-size: 17px;
				line-height: 1.8;
			}
			.nav li a:hover {
				color: #5547c2; /* 25408F */
			}

/* --------------- index page end ----------------- */


/* --------------- massage page start ----------------- */

.logo_page {
    margin: 13px auto 0;
}

.gradient_bg_page {
    min-height: 100px;
}

.main_page {
    text-align: center;
    padding: 0px 0 0px;
}

.massage {
    background: url(../img/massage.png) no-repeat center;
    background-size: cover;
    min-height: 505px;
}
	.page_desc {
		background: rgba(255, 255, 255, .9);
		padding: 20px 15px;
	}
	@media (min-width: 992px) {
		.massage {
	        background-size: contain;
			background-position: 0 0;
		}
			.page_desc {
				background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 5%, rgba(255, 255, 255, .8) 10%, rgba(255, 255, 255, 1) 100%);
				float: right;
				width: 55%;
				padding: 20px 0 20px 5%;
			}
	}
		.page_title {
			color: #55475E;
			font-size: 30px;
			padding: 20px 0;
		}
			.dr {
				color: #B72126;
				white-space: nowrap;
			}
		.page_txt {
			padding: 10px 7% 50px 7%;
		}
			.staff {
				padding: 25px 0;
			}
				.name {
					display: inline-block;
					color: #55475E;
					font-size: 20px;
					font-weight: bold;
				}
				.function {
					display: inline-block;
					font-size: 15px;
				}
			.intro {
				color: #55475E;
/*				font-size: 17px;*/
				font-weight: bold;
				padding: 10px 0;
			}
			.page_txt p {
				padding: 15px 0;
			}
			.page_txt ul {
				list-style: disc;
				padding-left: 20px;
			}
			.features {
				color: #55475E;
/*				font-size: 17px;*/
				font-weight: bold;
				padding-top: 15px;
			}
		.page_label {
			float: right;
			width: 220px;
		}
			.termine {
				display: inline-block;
				color: #fff;
				background-color: #776C7E;
				font-weight: bold;
				padding: 0 5px 0 10px;
			}
			.number {
				display: inline-block;
				color: #55475E;
				font-weight: bold;
			}

/* --------------- footer ----------------- */

.footer {
    min-height: 35px;
}

/* --------------- massage page end ----------------- */


/*

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

*/