/*--------- adjustment ----------*/

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font: 400 16px Arial, sans-serif;
    background-color: #fff;
}

.container {
    max-width: calc(750px + 15px*2);
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}


/* --------------- index page start  ----------------- */


/* --------------- header ----------------- */

.header {
    background: url(../img/header_index_wht.jpg) no-repeat center;
    background-size: cover;
}
	.gradient_bg_index {
		min-height: 100px;
	}
	@media (min-width: 768px) {
		.gradient_bg_index {
			min-height: 337px;
		}
	}
	.gradient_bg {
		background: linear-gradient(90deg, rgba(255, 216, 117, .8) 0%, rgba(255, 216, 117, .05) 40%, rgba(255, 216, 117, .05) 60%, rgba(255, 216, 117, .8) 100%);
	}


/* --------------- logo ----------------- */

.logo {
    background: url(../img/logo_big.PNG) no-repeat center;
    background-size: contain;
    background-position: 15% center;
    height: 175px;
    max-width: 430px;
    margin: 0 auto;
}

.logo_index {
    margin: 18px auto;
}

	.logo h1 {
		text-indent: -10000px;
		margin: 0;
		padding: 0;
	}


/* --------------- menu ----------------- */

.menu_index {
    text-align: center;
    padding: 47px 0 34px;
}
	.col_5 {
		float: left;
		width: 19.6%;
		margin-right: .5%;
	}
	.col_5:last-child {
		margin-right: 0;
	}
		.thumbs img {
			position: relative;
			width: 100%;
			transform: scale(1);
			transition: all .1s ease-in-out;
			z-index: 1;
		}
		.thumbs img:hover {
			transform: scale(1.1);
			z-index: 5;
		}
	.nav {
		padding: 20px 0 10px;
	}
		.nav li {
			position: relative;
			display: inline-block;
			padding-left: 8px;
		}
		.nav li:before {
			display: block;
			position: absolute;
			content: '';
			height: 4px;
			width: 4px;
			top: 13px;
			left: 0;
			background-color: #B72126;
			border-radius: 50%;
		}
		.nav li:first-child:before {
			display: none;
		}
			.nav li a {
				color: #55475E;
				font-size: 17px;
				line-height: 1.8;
			}
			.nav li a:hover {
				color: #5547c2; /* 25408F */
			}

/* --------------- index page end ----------------- */


/* --------------- single page settings start ----------------- */

.logo_page {
    margin: 13px auto 0;
}

.gradient_bg_page {
    min-height: 100px;
}

.menu_page {
    text-align: center;
    padding: 0px 0 0px;
}

.main {
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    min-height: 505px;
    max-width: 1600px;
    margin: 0 auto;
}
	.page_desc {
		position: relative;
		background: rgba(255, 255, 255, .9);
		padding: 2% 15px;
	}
	@media (min-width: 992px) {
		.main {
			background-position: -200px 0;
	        background-size: auto 100%;
		}
			.page_desc {
				background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 5%, rgba(255, 255, 255, .8) 10%, rgba(255, 255, 255, 1) 100%);
				float: right;
				width: 50%;
				padding: 2% 1% 2% 5%;
			}
	}
	@media (min-width: 1200px) {
		.main {
			background-position: 0;
		}
	}
		.page_title {
			position: relative;
			color: #55475E;
			font-size: 30px;
			margin: 30px 0;
			padding: 0 140px 0 0;
		}
			.dr {
				display: inline-block;
				color: #B72126;
			}
			.page_logo {
				position: absolute;
				width: 100%;
				max-width: 120px;
				top: -15px;
				right: 0;
			}
		.date {
			color: #B72126;
			font-size: 22px;
			margin-top: -25px;
		}
		.page_txt {
			padding: 1px 7% 20px 7%;
		}
			.staff {
				margin: 20px 0;
			}
				.name {
					display: inline-block;
					color: #55475E;
					font-size: 20px;
					font-weight: bold;
				}
				.function {
					display: inline-block;
					font-size: 15px;
				}
			.page_txt p {
				margin: 20px 0;
			}
			.page_txt ul {
				list-style: disc;
				padding-left: 20px;
			}
			.features {
				color: #55475E;
				font-weight: bold;
				margin-top: 20px;
			}
			.list {
				font-size: 15px;
			}
			.page_txt b {
				color: #55475E;
				font-size: 16px;
				font-weight: bold;
			}
			.page_txt i {
				font-style: italic;
			}
			.page_txt cite {
				display: block;
				max-width: 300px;
				color: #55475E;
				font-size: 16px;
				font-weight: bold;
				font-style: italic;
			}
			.page_txt sup {
				font-size: 12px;
				vertical-align: super;
			}
		.page_label {
			float: right;
		}
			.termine {
				display: inline-block;
				width: 80px;
				color: #fff;
				background-color: #776C7E;
				font-weight: bold;
				line-height: 1.4;
				padding-left: 10px;
			}
			.number {
				display: inline-block;
				color: #55475E;
				background: rgba(255, 255, 255, .9);
				font-weight: bold;
				line-height: 1.4;
				margin-left: -5px;
				padding: 0 20px 0 5px;
			}
		.page_label_left {
			float: right;
		}
		@media (min-width: 992px) {
			.page_label_left {
				position: absolute;
				left: -40%;
				bottom: 5%;
			}
		}
.footer {
    min-height: 35px;
}
/* --------------- single page settings end ----------------- */


/* --------------- pages backgrounds start ----------------- */

.physiotherapie {
    background-image: url(../img/physiotherapie.png);
}

.massage {
    background-image: url(../img/massage.png);
}

.padiatrie {
    background-image: url(../img/padiatrie.png);
}

.ergotherapie {
    background-image: url(../img/ergotherapie.png);
}

.lnb {
    background-image: url(../img/lnb.png);
}

.motion_point {
    background-image: url(../img/motion_point.png);
}

.coaching {
    background-image: url(../img/coaching.png);
}

.heiltherapien {
    background-image: url(../img/heiltherapien.png);
}

.darmgesundheit {
    background-image: url(../img/darmgesundheit.png);
}

/* --------------- pages backgrounds end ----------------- */


/* --------------- contacts backgrounds start ----------------- */

.contacts {
	padding: 40px 15px;
}
	.contacts_img {
		position: relative;
		margin-bottom: 20px;
	}
	.contacts_txt {
		color: #6D6E71;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.6;
	}
	@media (min-width: 640px) {
		.contacts_img {
			float: left;
			width: 55%;
			padding: 0;
		}
		.contacts_txt {
			float: right;
			width: 42%;
		}
	}
		.contacts_img img {
			width: 100%;
		}
		.reception {
			position: absolute;
			width: 100%;
			bottom: 5px;
			color: #fff;
			font-size: 3.7vw;
			line-height: 1.3;
		}
		@media (min-width: 360px) {
			.reception {
				font-size: 14px;
				line-height: 1.4;
			}
		}
			.reception div {
				padding-left: 3%;
			}
			.person {
				display: inline-block;
				width: 33%;
				margin-right: -5px;
			}

/* --------------- contacts backgrounds end ----------------- */